appdirs==1.4.3
click==6.7
defusedxml==0.5.0
dirspec==13.10
dominate==2.3.1
easygui==0.98.1
Flask==0.12
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-OpenID==1.2.5
Flask-ReCaptcha==0.4.2
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
httplib2==0.9.1
ipython==5.3.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.9.5
louis==2.6.4
lxc==1.0.9
lxml==3.5.0
Mako==1.2.2
MarkupSafe==0.23
pyparsing==2.1.10
python-apt==1.1.0b1
python-dateutil==2.6.0
python-debian==0.1.27
requests==2.9.1
six==1.10.0
SQLAlchemy==1.1.6
unpyclib==0.8.1
urllib3==1.13.1
uWSGI==2.0.15
virtkey==0.63.0
virtualenv==15.1.0
Werkzeug==0.11.15
WTForms==2.1
wtforms-recaptcha==0.3.2

