{% extends "base3.html" %}

{% block title %}
Shopping Portal - Error
{% endblock %}

{% block styles %}
{{super()}}
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css')}}">
    <link href="{{'https://fonts.googleapis.com/css?family=Montserrat:400,700'}}" rel="stylesheet" type="text/css">
    <link href="{{'https://fonts.googleapis.com/css?family=Kaushan+Script'}}" rel='stylesheet" type='text/css'>
    <link href="{{'https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'}}" rel='stylesheet' type='text/css'>
    <link href="{{'https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'}}" rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='404/styles/404.css')}}">
    <!--<link href="static/css/agency.min.css" rel="stylesheet">-->
{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css')}}">
   <!-- <link rel="stylesheet" type="text/css" href="./404/styles/404.css"> !-->
    <link rel="stylesheet" href="{{url_for('static', filename='404/styles/404.css')}}">
</head>
<body>
<div class="wrapper row2">
  <div id="container" class="clear">
    <section id="fof" class="clear">
      <div class="positioned">
        <div class="hgroup">
          <h1>Congratulations!</h1>
          <h2>You Found The End Of Our Little Infinite Universe.</h2>
        </div>
        <p>Jokes Aside<br/>
          The Page You Requested Could Not Be Found On Our Server</p>
        <div id="respond">
           <a href="http://127.0.0.1:5000" class="page-scroll btn btn-xl">Go back &amp; Explore Our Site</a> 
        </div>
      </div>
    </section>  
  </div>
</div>

</body>
</html>
{% endblock %}