 <div class="comment-main-level" >
    <div class="comment-avatar">
        <div class="comment-box">
            <div class="comment-head">
                <h6 class="comment-name by-author"><span class="comment-author">
                </span></h6>
                <a href = "#"><i class="fa fa-thumbs-down"> </i></a>
                <a href=" #"><i class="fa fa-thumbs-up"> </i></a>
            </div>
            <div class="comment-content" style="text-align: justify;">
            </div>
        </div>
    </div>  
